.page {
    max-width: 700px;
    margin: 5% auto;
}
@media (max-width: 777px) {
    .page {
        max-width: 90%;
    }
}

.banner {
    display: flexbox;
    margin: auto;
    border-color: transparent;
    border-radius: 20px;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.content {
    padding: 1em;
    text-align: left;
    font-weight: 500;
}

.h2left {
    border: 0px;
    border-left: 0.6em;
    border-style: solid;
    border-color: black;
    padding-left: 0.6em;
}

.h3left {
    border: 0px;
    border-left: 0.5em;
    border-style: solid;
    border-color: black;
    padding-left: 0.5em;
}

.event {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 1em;
    box-shadow: 0px 6px 25px grey;
    transition: 0.5s ease-in-out;
}
.event:hover {
    transform: translateY(-5px);
}

.event button {
    width: 10em;
    height: 3em;
    border: 0px;
    border-radius: 20px;
    transition: ease-in-out;
}
.event button:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px grey;
    transform: translateY(-2px);
}




.end {
    border: 0px;
    border-top: 4px;
    border-style: solid;
    border-color: grey;
    padding-top: 1em;
}